---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/OAX/56,39/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/geo+json
      last-modified:
      - Wed, 25 Feb 2026 18:41:29 GMT
      x-correlation-id:
      - 33cc9db2
      x-server-id:
      - vm-bldr-api-ops-app6.ncep.noaa.gov
      x-edge-request-id:
      - 50072a5d
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "Feature",
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [
                            -96.6952,
                            40.7831
                        ],
                        [
                            -96.6955,
                            40.8051
                        ],
                        [
                            -96.7245,
                            40.8048
                        ],
                        [
                            -96.7242,
                            40.7829
                        ],
                        [
                            -96.6952,
                            40.7831
                        ]
                    ]
                ]
            },
            "properties": {
                "units": "us",
                "forecastGenerator": "BaselineForecastGenerator",
                "generatedAt": "2026-02-25T20:03:03+00:00",
                "updateTime": "2026-02-25T19:17:53+00:00",
                "validTimes": "2026-02-25T13:00:00+00:00/P7DT15H",
                "elevation": {
                    "unitCode": "wmoUnit:m",
                    "value": 356.0064
                },
                "periods": [
                    {
                        "number": 1,
                        "name": "This Afternoon",
                        "startTime": "2026-02-25T14:00:00-06:00",
                        "endTime": "2026-02-25T18:00:00-06:00",
                        "isDaytime": true,
                        "temperature": 54,
                        "temperatureUnit": "F",
                        "temperatureTrend": null,
                        "probabilityOfPrecipitation": {
                            "unitCode": "wmoUnit:percent",
                            "value": 27
                        },
                        "windSpeed": "9 mph",
                        "windDirection": "ESE",
                        "icon": "https://api.weather.gov/icons/land/day/rain,30?size=medium",
                        "shortForecast": "Chance Light Rain",
                        "detailedForecast": "A chance of rain after 4pm. Mostly sunny, with a high near 54. East southeast wind around 9 mph. Chance of precipitation is 30%."
                    },
                    {
                        "number": 2,
                        "name": "Tonight",
                        "startTime": "2026-02-25T18:00:00-06:00",
                        "endTime": "2026-02-26T06:00:00-06:00",
                        "isDaytime": false,
                        "temperature": 27,
                        "t[...]
